<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Green Hummer Project: Home</title>
	<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1" />
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="SHORTCUT ICON" href="/images/favicon.png" />
</head>
<body>

<!-- MENU start -->
<div id="menu">

<a href="/"><img id="logo" src="/images/logo_small.gif" alt="GreenHummerProject.org" title="GreenHummerProject.org" width="222" height="146" border="0" /></a>

<div id="nav">
<ul class="nav">
<li><a href="/">Home</a></li>
<li><a href="/ridelog">Ride Log</a></li>
<li><a href="/crew">Meet the Crew</a></li>
<li><a href="/construction">Construction Diary</a></li>
<li><a href="/rides">Upcoming Rides</a></li>
<li><a href="/facts">Fact Sheet</a></li>
<li><a href="/video">Video Clips</a></li>
<li><a href="/links">Related Links</a></li>
<li><a href="/press">Press Info</a></li>
<li><a href="/faq">FAQ</a></li>
</ul>
</div>

<div><strong>Green Hummer Alerts</strong><br />
Want to stay in the loop on the Green Hummer Project?<br />
<form method="post" action="http://greenhummerproject.org/mailinglists/mailinglists.php?p=mlist">

<input disabled type="text" class="input" name="email" size="20" /><br />

<input disabled type="submit" class="button" value="Sign up" /></form>

</div>

</div>
<!-- MENU end -->

<!-- CONTENT start -->
<div id="content">

<p class="update">Latest from the Green Hummer: <a href="/ridelog/1/" class="latest">The Green Hummer is over</a> (Sep 23, 2005)</p>

<img src="images/covers/<%= Random.new.rand(1..13) %>.jpg" alt="The Green Hummer" width="520" height="324" border="0" />

<p>This is the perfect SUV.</p>

<p>Our SUV is healthy, friendly, non-polluting, simple, inexpensive, fun, and socially responsible.</p>

<p>There are no black tinted windows to hide us from view. No air conditioning to further isolate us
from the outside. No gas tank to fill and fill and fill. No greenhouse gasses pouring from the exhaust
pipe. No frustration, no yelling, no honking, no road rage. No clocks to set, no alarm to annoy, no
menus to scroll through. No video game system, DVD player, or GPS system. No "we own the road", "get out
of our way", "don't slow us down" mentality.</p>

<p>When we ride the Green Hummer, we become part of our city. We have no illusions of flying through an empty
city, devoid of traffic, parking problems, pedestrians, or street life like the drivers in television
commercials. We expect people to talk to us. People ask questions, tourists ask for directions, traffic
goes slower than we can pedal. We accept and expect little delays, and it's okay. We don't look for
confrontations; we enjoy ourselves in our vehicle.</p>

<p>This bicycle is an attempt to make large numbers of people reconsider the ways that they move around
their cites. Our SUV is the opposite of modern consumer culture, an anti-commercial. We want people to
think independently of the corporations who program their televisions. We want people to see our
pedal-powered, life-size Green Hummer cruise around a real city, and think about the contrast between
advertising and the real world.</p>

<p>In advertising, cities are lifeless, cars are safe, drivers are happy, gas is clean, and you are not 
responsible whatsoever for traffic, pollution, your weight, the marring of our landscapes, or war. </p>

<p>Our SUV is for the real world.</p>

<p><a href="/ridelog">Start the Green Hummer journey</a></p>

</div>
<!-- CONTENT end -->

</body>
</html>